@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* CUSTOM CSS */

:root {
  --primary: hsl(325, 100%, 50%);
  --secondary: #fef003;

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-hover: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  --border-radius: 0.6rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.search-bar {
  width: 100%;
  background: #222222;
  padding: 1rem 0;
  border-bottom: 0.5rem solid var(--primary);

  position: sticky;
  top: 0;
  z-index: 2;
}
form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #222222;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;

  letter-spacing: 1px;
  color: grey;
}
input::placeholder {
  color: grey;
}
input {
  width: 100%;
  border: none;
  outline: none;

  color: snow;
  background: inherit;

  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}
.clear {
  visibility: hidden;
  pointer-events: none;
}
.close {
  pointer-events: auto;
  cursor: pointer;
}
.message {
  padding: 2rem;
  place-self: start;
  color: snow;
  font-size: 1.6rem;
}
.card {
  width: 100%;
  border-radius: var(--border-radius);
}
footer {
  padding: 2rem;
  color: snow;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--secondary);
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  header img {
    width: 100%;
    height: auto;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
